<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwy4lbtwfF4pFA_cnwxPN44JIfctNWZuw</string>
	<key>GCM_SENDER_ID</key>
	<string>74758815137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cakeLab</string>
	<key>PROJECT_ID</key>
	<string>cakelab-3152e</string>
	<key>STORAGE_BUCKET</key>
	<string>cakelab-3152e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74758815137:ios:3337136495b0b9b6b61fe0</string>
</dict>
</plist>